<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="snippets.html :: name_head"></head>
<body>
  <nav th:replace="snippets.html :: name_app_navbar"></nav>
  <div class="container-fluid" style="padding:0rem 5rem;">
    <h3 style="margin:1.5rem 0rem;">Day Sales Report</h3>
    <div class="row">
      <!-- Table -->
      <div class="col-12">
        <table class="table table-striped" id="display-daySales-table">
          <thead class="thead-dark">
            <tr class="sticky-top" style="top:78px;z-index:auto;">
              <th scope="col">S No.</th>
              <th scope="col">Date (IST)</th>
              <th scope="col">Order Count</th>
              <th scope="col">Item Count</th>
              <th scope="col" style="text-align:end">Revenue (in ₹)</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div> <!-- Container end-->
  <footer th:replace="snippets.html :: name_footer"></footer>
  <script th:src="@{/static/js/daySalesReport.js}" />
  </script>
</body>
</html>