<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

<h3 style="text-align:center;margin:2rem">Home</h3>

 <!-- Top row with form-->
<div style="width:65%;height:10rem;margin:12rem auto;">
<div style="text-align:center;width:65%;height:5rem;margin:12rem auto;">
	 <div style="display:inline;margin-right:5rem">
	 	<a th:href="@{/ui/brand}" title="Brands" style="text-decoration:none"> <i class="fas fa-users"></i></a>

	 </div>	
	 <div style="display:inline;margin-left:3rem">
	 	<a th:href="@{/ui/admin}" title="Admin" style="text-decoration:none"> <i class="fas fa-cog"></i></a>

	 </div>
	</div>
</div> 



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>


</body>	

</html>