<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container-fluid" style="padding:0rem 5rem;">

  <h3 style="margin:1.5rem 0rem;">Order</h3>


  <button type="button" class="btn btn-primary" id="create-order">Create</button>
  &nbsp;




  <div class="modal" tabindex="-1" role="dialog" id="create-order-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Order</h5>
        </div>
        <div class="modal-body">

          <form class="" id="order-create-form">

              <div class="form-group">
                <label for="inputBarcode">Barcode</label>
                <input id="inputBarcode" type="text" class="form-control" name="barcode" placeholder="Enter Barcode" >
              </div>
              <div class="form-group">
                <label for="inputQuantity">Quantity</label>
                <input id="inputQuantity" type="number" min="1" class="form-control" name="quantity" placeholder="Enter Quantity">
              </div>
            <div class="form-group">
              <label for="inputSellingPrice">Selling Price</label>
              <input id="inputSellingPrice" type="number" min="1" step="0.01" class="form-control" name="sellingPrice" placeholder="Enter Selling Price">
            </div>
              <button id="addToOrderList" style="margin-bottom:1rem;" class="btn btn-warning btn-lg">+</button>


            <table class="table table-striped" id="orderItemTable">
              <thead class="thead-dark">
              <tr class="sticky-top" style="top:78px;z-index:auto;">
                <th scope="col">Barcode</th>
                <th scope="col">Quantity</th>
                <th scope="col">Selling Price</th>
                <th scope="col">Action</th>
              </tr>
              </thead>
              <tbody>

              </tbody>


            </table>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="add-order">Create</button>
        </div>
      </div>
    </div>
  </div>




  <!-- Blank Row -->
  <div class="row">
    &nbsp;
  </div>
  <div class="row">

    <!-- Table -->
    <div class="col-12">
      <table class="table table-striped" id="order-table">
        <thead class="thead-dark">
        <tr class="sticky-top" style="top:78px;">
          <th scope="col">Order Id</th>
          <th scope="col">Order Date</th>
          <th scope="col" style="text-align:end">Total Order Cost</th>
          <th scope="col" class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

    </div>
  </div>

  <!-- Employee Edit Modal -->
  <div class="modal" tabindex="-1" role="dialog" id="edit-order-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit order</h5>
        </div>
        <div class="modal-body">
          <form class="" id="order-edit-form">
            <div class="form-group">
              <label  class="col-sm-2 col-form-label">Barcode</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" name="barcode" placeholder="Enter Barcode" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-form-label">Quantity</label>
              <div class="col-sm-12">
                <input type="number" class="form-control" min="1" name="quantity" placeholder="Enter Quantity">
              </div>
            </div>
            <input type="hidden" name="id" >
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="update-order">Update</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Employee Edit Modal -->
  <div class="modal" tabindex="-1" role="dialog" id="upload-order-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">Upload order</h5>
        </div>

        <div class="modal-body">
          <div class="order-file">
            <input type="file" class="custom-file-input" id="orderFile">
            <label class="custom-file-label" for="orderFile" id="orderFileName">Choose file</label>
          </div>
          <a th:href="@{/sample/order.tsv}" target="_blank">Download Sample</a>
          <br>
          Rows: <span id="rowCount">0</span>,
          Processed: <span id="processCount">0</span>,
          Errors: <span id="errorCount">0</span>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="process-data">Upload</button>
          <button type="button" class="btn btn-warning" id="download-errors">Download Errors</button>
        </div>
      </div>
    </div>
  </div>

</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/order.js}"/></script>

</body>

</html>