<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    <h3 style="text-align:center;margin:2rem">Report</h3>


        <div style="display:flex;align-items:center;justify-content:space-between;padding-top:2rem;" class="row">
            <div class="col-3 icon" style="text-align:center">
                <a th:href="@{/ui/report/inventory}" title="Inventory" style="text-decoration:none;color:black;"> <img style="width:40% ;height:100% ;padding-bottom:2rem;padding-top:2rem;" th:src="@{/static/checklists.png}"> <p style="text-align:center">Inventory</p></a>

            </div>
            <div class="col-3 icon" style="text-align:center">
                <a th:href="@{/ui/report/brand}" title="Brand" style="text-decoration:none;color:black;"> <img style="width:40% ;height:100% ;padding-bottom:2rem;padding-top:2rem;" th:src="@{/static/brandReport.png}">  <p style="text-align:center">Brand</p></a>

            </div>
            <div class="col-3 icon" style="text-align:center">
                <a th:href="@{/ui/report/sales}" title="Sales" style="text-decoration:none;color:black;"> <img style="width:40% ;height:100% ;padding-bottom:2rem;padding-top:2rem;" th:src="@{/static/increase.png}">  <p style="text-align:center">Sales</p></a>

            </div>
            <div  class="col-3 icon" style="text-align:center">
                <a th:href="@{/ui/report/daySales}" title="Sales" style="text-decoration:none;color:black;"> <img style="width:40% ;height:100% ;padding-bottom:2rem;padding-top:2rem;" th:src="@{/static/calendar.png}">  <p style="text-align:center">Day Sales</p></a>

            </div>

    </div>



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/report.js}"/></script>

</body>

</html>