<!doctype html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    <h3 style="text-align:center;margin:2rem">Report</h3>

    <!-- Top row with form-->
    <div style="width:65%;height:10rem;margin:12rem auto;">
        <div style="display:flex;align-items:center;justify-content:space-between;">
            <div >
                <a th:href="@{/ui/report/inventory}" title="Inventory" style="text-decoration:none"> <i class="fa fa-list-alt" style="font-size:4rem;"></i> </a>
                <p style="text-align:center">Inventory</p>
            </div>
            <div>
                <a th:href="@{/ui/report/brand}" title="Brand" style="text-decoration:none"> <i class="fa fa-bar-chart" style="font-size:4rem;"></i> </a>
                <p style="text-align:center">Brand</p>
            </div>
            <div>
                <a th:href="@{/ui/report/sales}" title="Sales" style="text-decoration:none"> <i class="fa fa-line-chart" style="font-size:4rem;"></i> </a>
                <p style="text-align:center">Sales</p>
            </div>
        </div>
    </div>



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/report.js}"/></script>

</body>

</html>